<div class="topnav">
  <a class="navbar-brand" routerLink="">{{title}}</a>
  <a href="#contact"> Contact</a>
  <a href="#about">About</a>
</div>
  <br>
  
   

<div class="container">
  <div class="col-md-12">
      <h1 style="text-align: center">Today's B.ig S.creen</h1>
  </div>
  <hr>
  <div class="navbar">
      <div class="col-4-md"><a routerLink="comments">Comments</a></div>   
      <div class="col-4-md"><a routerLink="">New</a></div>
      <div class="col-4-md"><a routerLink="jobs">Jobs</a></div>
  </div>
  <router-outlet></router-outlet>
</div>