<div class="col-md-12"><h2>cft 0 minutes ago | parent | on: Facebook exodus: 44 percent of American users ages...

But they are running out of potential sites to buy. I wonder if they have offered to buy Reddit?


nine_k 0 minutes ago | parent | on: U.K. To Roll Out Developed World’s First ‘Digital’...

So you see it as a tariff? Do not let the more efficient foreign player in, to let the local equivalent develop?
Economically it does not make sense, if we are looking for a global optimum (literally); this is the standard free-trade argument.

It may make sense if there's no global trust; you don't want to depend on products of a potential unfriendly party, or let them have a large foothold in your economy, just, well, in case.

But here I (also) see the desire to milk a cow that can be milked.</h2></div>