<form>
    <div class="form-group">
        <label for="firstName">First Name: </label>
        <input required minlength="3" maxlength="10" ngModel name="firstName" #firstName="ngModel" (change)=log(firstName)
            id="firstName" type="text" class="form-control">
            <br>
            <label for="comment">New Comment</label>
            <input name="comment" type="text" class="form-control">

        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First name is required.
            </div>
            <div *ngIf="firstName.errors.minlength">
                First name should be minimum {{firstName.errors.minlength.requiredLength}} characters.
            </div>
        </div>
    </div>
        <button (click)="submitThis(firstName, comment)" class="btn btn-primary">Submit</button>
</form>